# Auth
login.*
logout.*

# .pem files
*.pem

# .tfplan files
*.tfplan

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore providers files.
.terraform/

# Ignore lock files.
.terraform.lock.hcl

# .hcl files from Terraform v0.14 and newer
*.hcl
